.body{
	user-select: none;
}

.title{
  text-align: center;
  font-size: 10vw;
  margin-top: 2%;
  color: #735932;
}

.btn{
	position: absolute;
	top: 60%;
	left: 50%;
}

.btn button{
	margin-bottom: 2%;
	margin-right: -4px;
	height: 12vh;
	width: 35vw;
	transform: translate(-50%,0%);
	font-size: 4vw;
}
